@font-face {
  font-family: Poppins;
  src: url(./fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: PoppinsLight;
  src: url(./fonts/Poppins/Poppins-Light.ttf);
}

@import url(//db.onlinewebfonts.com/c/4d309d1a449d052dcbc2f893306274fd?family=COCOGOOSE+LETTERPRESS);

:root {
  --first-color: #272a31;
  --second-color: #ec5242;
  --third-color: #d3d3d3;
}

body {
  font-family: 'Poppins', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  width: 768px;
  height: auto;
}

.humb {
  display: flex;
  flex-direction: column;
  font-size: 44px;
  list-style: none;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(54, 45, 145, 0.3), rgba(5, 4, 46, 0.7)),
    url('/src-image/homepage.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.home h2 {
  width: 70%;
  color: white;
  font-size: 2.2rem;
  letter-spacing: 1px;
}

.home p {
  width: 50%;
  color: white;
  font-size: 0.9rem;
  letter-spacing: 1px;
  line-height: 25px;
}

.learn-more {
  margin-top: 303px;
  display: flex;
  flex-direction: row;
  text-align: center;
  position: absolute;
  top: 43em;
}

a.learn:hover,
a.visit:hover {
  color: white;
  background-color: rgb(75, 65, 133);
}

.main-program {
  padding: 6vw 11vh 344px 8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: rgb(44, 44, 80);
  font-size: 2rem;
  background: radial-gradient(var(--first-color), var(--third-color));
}

.main-pro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  text-align: start;
  font-size: 2rem;
  color: rgb(44, 44, 80);
}

.main-box i {
  display: flex;
  flex-direction: row;
  font-size: 2.3rem;
  font-weight: 600;
  padding: 28px 0 7px 0;
  margin-top: -21px;
  margin-left: 9px;
  align-items: center;
  text-align: center;
  justify-content: start;
  color: var(--third-color);
}

.main-box h3 {
  font-size: 30px;
  font-weight: 600;
  margin-left: 15px;
  width: 31%;
  color: var(--second-color);
}

.main-box p {
  font-size: 26px;
  font-weight: 400;
  margin-top: 13px;
  margin-left: 26px;
  width: 65%;
  color: var(--third-color);
}

.border-box {
  display: flex;
  flex-direction: row;
  border-style: solid;
  margin-top: 32px;
  margin-left: 4px;
  align-items: center;
  width: 100%;
  height: 24%;
  background-color: var(--first-color);
}

.feature-speak {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 44px;
}

.feature {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 30px;
  font-weight: 500;
  color: var(--first-color);
}

.feature-s {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  margin-top: 41px;
  margin-left: 32px;
  align-items: center;
  width: 84%;
  height: 68%;
}

.pers-name {
  color: var(--first-color);
  width: 50%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  margin-top: -50px;
  font-size: 25px;
}

.intro {
  color: var(--second-color);
  width: 60%;
  margin-left: 145px;
  margin-top: -89px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.more-inf {
  color: var(--first-color);
  width: 58%;
  margin-left: 145px;
  margin-top: -15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

.more-de {
  display: flex;
  border: solid;
  width: 100%;
  height: 71px;
  margin-left: 23px;
  margin-top: 85px;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}

.fa-angle-down {
  color: var(--second-color);
}

.more-det {
  color: var(--first-color);
  font-size: 20px;
}
